body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #f3f3f3;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-building-columns {
  font-size: 40px;
}

.greeting {
  font-weight: 600;
}

.container {
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 80px 1fr 1fr 1fr 60px;
  height: 600px;
  width: 800px;
  gap: 16px;
  /* transition: 1s; */
}
  
.movements-list {
  grid-area: 2 / 1 / 5 / 2;
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: scroll;
}
  
.current-balance {
  grid-area: 1 / 1 / 2 / 3; 
  display: flex;
  justify-content: space-between;
}
  
.loan-form {
  display: flex;

}

.green-background {
  background-color: rgb(0, 199, 0);
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  color: white;
}
  
.red-background {
  background-color: #ff552f;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 8px;
  color: white;
}

.transfer-money {
  grid-area: 2 / 2 / 3 / 3; 
  background-image: linear-gradient(to top left, #ffb003, #ffcb03);
  padding: 24px 32px;
  border-radius: 16px;
}

.transfer-form {
  display: flex;
  justify-content: space-around;
}

.login-btn {
  background-color: rgba(0, 0, 0, 0);
}

.request-loan {
  grid-area: 3 / 2 / 4 / 3; 
  background-image: linear-gradient(to top left, #39b385, #9be15d);
  padding: 24px 32px;
  border-radius: 16px;
}
  
.close-account {
  grid-area: 4 / 2 / 5 / 3; 
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  padding: 24px 32px;
  border-radius: 16px;
}

.close-account-form {
  display: flex;
}

.close-user-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-pin-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transfer-amount-div {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.transfer-to-div {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.balance-value {
  font-size: 32px;
  font-weight: 700;
}

.current-balance-paragraph {
  font-size: 28px;
  font-weight: 600;
}


.summary {
  grid-area: 5 / 1 / 6 / 2;
  display: flex;
  justify-content: space-between;

}

.logout-timer {
  grid-area: 5 / 2 / 6 / 3;
}

input {
  width: 120px;
  border-radius: 16px;
  height: 32px;
  border: 1px solid gray;
  background-color: rgba(255, 255, 255, 0.4);
  padding-left: 8px;
}

.user-btn {
  height: 32px;
  width: 56px;
  border-radius: 8px;
  margin: 0 8px;
  background-color: #f3f3f3;
}

button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

li {
  background-color: white;
  border-bottom: 2px solid #eee;
  padding: 8px 16px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h4 {
  margin: 0;
}

.input-label-loan {
  display: flex;
  flex-direction: column;
}

label {
  align-self: center;
  font-size: 16px;
}