body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  border: 1px solid blue;
}

.container {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-template-rows: 80px 1fr 1fr 1fr 60px;
  height: 600px;
  width: 800px;
  border: 1px solid red;
  gap: 4px;
  }
  
.movements-list {
  border: 1px solid red;
  grid-area: 2 / 1 / 5 / 2;
  padding: 0;
  margin: 0;
  }
  
.current-balance {
  grid-area: 1 / 1 / 2 / 3; 
  }
  
.transfer-money {
  grid-area: 2 / 2 / 3 / 3; 
  
  }
  
.request-loan {
  grid-area: 3 / 2 / 4 / 3; 
  
}
  
.close-account {
  grid-area: 4 / 2 / 5 / 3; 
}

.summary {
  grid-area: 5 / 1 / 6 / 2;
}

.logout-timer {
  grid-area: 5 / 2 / 6 / 3;
}
.logout-timer {
  grid-area: 5 / 2 / 6 / 3;
}
.logout-timer {
  grid-area: 5 / 2 / 6 / 3;
}
.logout-timer {
  grid-area: 5 / 2 / 6 / 3;
}
